# Ignore everything
*
!*/
JetBrains/**

# Wanted files
!install.sh
!nvim/**
!tmux/**
tmux/*.log
tmux/plugins/**/*
!alacritty/**
!bash/**
!kitty/**
!zed/**
zed/.tmp*
!wallpapers/**
!lazygit/**

# Don't ignore the .gitignore file itself
!.gitignore
